html {
  background-color: white !important;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.bigger {
  font-size: 2rem;
}

.bigger.en {
  font-size: 1.5rem;
}

.text-bigger {
  font-size: 1.1rem;
}

div#wrapper {
  padding-top: 100px;
}

span.caption {
  display: block;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

ol.paren {
  counter-reset: list;
}

ol.paren > li {
  list-style: none;
}

ol.paren > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}

.go-up {
  color: #868e96;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 10px;
}

.go-up::before {
  content: '\2191  ';
}

.go-up:hover {
  color: black;
}

ol.contents {
  color: #BD4932;
}

span.contents {
  cursor: pointer;
}

span.contents:hover {
  text-decoration: underline;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

nav.navbar {
  padding: 0px !important;
}

div.navbar-collapse {
  padding: 10px;
}

nav div.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.12);
}

.navbar-brand {
  font-family: 'Bookman', 'Palatino', serif !important;
  margin-right: 10px;
  color: #495057 !important;
  font-size: 1.6rem;
}

@media (min-width: 1200px) {
  .navbar-brand {
    margin: 0;
    font-size: 2rem;
  }
}

.navbar-brand.en {
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  .navbar-brand.en {
    margin: 0;
    font-size: 1.6rem;
  }
}

.bg-vint-maroon {
  background-color: #BD4932;
}

.dropdown-item.custom-highlight:focus, .dropdown-item.custom-highlight:hover {
  text-decoration: none;
  background-color: white;
  opacity: 0.5;
}

.langSwitch {
  cursor: pointer;
  color: #a0a0a0;
  margin-left: 20px;
  font-size: 0.9rem;
}

.langSwitch .non-active {
  color: #c0c0c0;
}

#routedContent.ng-enter {
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
  opacity: 0;
  -webkit-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
}

#routedContent.ng-enter-active {
  -webkit-transform: translateX(0px) translateY(-500px);
  transform: translateX(0px) translateY(-500px);
  opacity: 1;
}

#routedContent.ng-leave {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
}

#routedContent.ng-leave-active {
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  opacity: 0;
}

#routedConent.ng-enter .anchor {
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
  opacity: 0;
  -webkit-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
}

#routedConent.ng-enter-active .anchor {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

#routedConent.ng-leave .anchor {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
  transition: all 0.35s cubic-bezier(1, 0.01, 0, 0.99);
}

#routedConent.ng-leave-active .anchor {
  -webkit-transform: translateY(500px);
  transform: translateY(500px);
  opacity: 0;
}

.slide {
  -webkit-transition: opacity 120ms linear, max-height 0.13s linear;
  transition: opacity 120ms linear, max-height 0.13s linear;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  overflow: hidden;
  opacity: 1;
}

.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transition: opacity 120ms linear, max-height 0.13s linear;
  transition: opacity 120ms linear, max-height 0.13s linear;
  max-height: 0;
  opacity: 0;
}

.fade-show {
  opacity: 1;
  max-height: 200px;
}

.fade-show.ng-hide {
  opacity: 0;
  max-height: 0;
}

.fade-show.ng-hide.ng-hide.add,
.fade-show.ng-hide-remove {
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
}

.fade2 {
  opacity: 1;
}

.fade2.ng-leave {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 1;
}

.fade2.ng-leave.ng-leave-active {
  opacity: 0;
}

.fade2.ng-enter {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 0;
}

.fade2.ng-enter.ng-enter-active {
  opacity: 1;
}

.enlarge {
  font-size: 120%;
  text-shadow: 1px 1px 1px #ccc;
  -webkit-transition: font-size 0.2s, text-shadow 0.2s;
  transition: font-size 0.2s, text-shadow 0.2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.enlarge:hover {
  font-size: 140%;
  text-shadow: 1px 3px 4px #ccc;
}

.enlarge-fix {
  font-size: 140%;
  text-shadow: 1px 3px 4px #ccc;
}

.enlarge-simple:hover {
  font-size: 120%;
  transtition: font-size 0.2s ease-in;
}

.slide-up {
  -webkit-transition: .4s linear all;
  transition: .4s linear all;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

img.fb-animate {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  filter: grayscale(80%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img.fb-animate:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

a.nav-link:hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.nav-item-highlight:hover {
  background-color: white;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.card-header {
  color: white;
  opacity: .5;
}

.card-header.dark {
  background-color: #5A6268;
  opacity: .8;
}

.card {
  padding: 0px;
}

div.divider {
  margin: 15px;
}

.bg-vint-dark-red {
  background-color: #BD2932;
}

label span {
  line-height: 1.15;
}

button.meta {
  width: 130px;
  font-size: .8rem;
  opacity: 0.8;
}

.plusm {
  margin-top: -30px;
}

table.results {
  margin-top: 10px;
  font-size: 90%;
}

table.results .match {
  width: 20%;
}

table.results .context {
  width: 33%;
}

table.results .expand {
  width: 3%;
}

table.results .selection {
  width: 8%;
}

table.results .audio {
  width: 8%;
}

table.results .plain {
  width: 78%;
}

table.results .indent {
  width: 6%;
}

table.results .content {
  width: 86%;
}

.hidden {
  visibility: hidden;
}

.invisible {
  visibility: none;
}

.clickable {
  cursor: pointer;
}

audio {
  width: 250px;
}

div.meta {
  background-color: #FFFFF0;
  margin-top: 15px;
  padding: 5px;
  opacity: .9;
}

div.meta.ng-enter {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  opacity: 0;
}

div.meta.ng-enter.ng-enter-active {
  opacity: .9;
}

.mwe {
  text-decoration: underline;
}

.mwe-begin {
  margin-left: 2px;
}

.mwe-end {
  margin-right: 2px;
}

.dif {
  cursor: pointer;
}

i.gray {
  color: gray;
}

i.fixed {
  color: black;
}

.definition {
  font-size: .8rem;
  width: 160px;
  position: relative;
}

.definition.headword {
  font-size: 0.9rem;
  margin-top: 7px;
  margin-bottom: 5px;
  display: block;
}

.definition.pos {
  font-size: 0.7rem;
  color: #555555;
  font-style: italic;
  margin-bottom: 10px;
  display: block;
}

.definition.etymology {
  font-size: 0.75rem;
  border-radius: 3px;
  margin-top: 5px;
}

.definition-box {
  position: absolute;
  background-color: white;
  font-family: Lato;
  color: #333333;
  border-radius: 4px !important;
  -webkit-box-shadow: rgba(76, 85, 101, 0.2) 0px 0px 1px 0px, rgba(76, 85, 101, 0.2) 0px 2px 7px 0px !important;
  box-shadow: rgba(76, 85, 101, 0.2) 0px 0px 1px 0px, rgba(76, 85, 101, 0.2) 0px 2px 7px 0px !important;
  padding: 12px;
  padding-top: 5px;
  z-index: 10;
}

.close-x {
  cursor: pointer;
  float: right;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color: black;
  opacity: .5;
  z-index: 15;
  position: relative;
}

.close-x:hover {
  opacity: 1;
}

.close-x.disabled {
  opacity: .2;
}

.paginator {
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: red !important;
}

.paginator .page-item .page-link {
  color: #6c757d;
}

.paginator .page-item.disabled .page-link {
  color: #a0a0a0;
}

.paginator .page-item.active .page-link {
  background-color: #bd4932;
  border-color: #bd4932;
  color: white;
}

.my-10 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.index {
  font-size: 1.7em;
  font-family: Arial;
  color: #908080;
  cursor: pointer;
}

.index:hover {
  color: #605050;
  text-decoration: underline;
  padding: 2px;
}

.smaller-d {
  font-size: 0.75em;
  height: 90%;
}

.active {
  color: #504040;
}

.definition-card {
  height: 80%;
  min-height: 400px;
}

.definition-card .card {
  width: 45%;
  position: fixed;
  min-height: 400px;
}

.definition-d {
  font-size: 1rem;
  width: 85%;
  position: relative;
}

.definition-d.headword {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.definition-d.pronunciation {
  font-size: 1rem;
}

.definition-d.pos {
  font-size: 0.85rem;
  color: #555555;
  font-style: italic;
  margin-bottom: 10px;
  display: block;
}

.definition-d.etymology {
  font-size: 0.9rem;
  border-radius: 3px;
  margin-top: 5px;
}

.definition-d.divider {
  margin: 20px;
}

.inline.form-control {
  display: inline;
  width: 80%;
}

.scroll-box {
  overflow-y: auto;
  max-height: 420px;
  padding: 1rem;
}

.go-to {
  color: #bd4932;
  cursor: pointer;
}

.go-to:hover {
  text-decoration: underline;
}

.highlight {
  background-color: #ffffe0;
}
