$opacity-transition: opacity 120ms linear;

#routedContent.ng-enter{
    transform: translateX(-500px);
    opacity: 0;

    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}

#routedContent.ng-enter-active{
    transform: translateX(0px) translateY(-500px);
    opacity: 1;
}

#routedContent.ng-leave{
    transform: translateX(0);
    opacity: 1;

    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}

#routedContent.ng-leave-active{
    transform: translateX(500px);
    opacity: 0;
}

#routedConent.ng-enter .anchor {
    transform: translateY(-500px);
    opacity: 0;

    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}

#routedConent.ng-enter-active .anchor {
    transform: translateY(0px);
    opacity: 1;
}

#routedConent.ng-leave .anchor {
    transform: translateY(0);
    opacity: 1;

    -webkit-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    -o-transition: all 0.35s cubic-bezier(1,.01,0,.99);
    transition: all 0.35s cubic-bezier(1,.01,0,.99);
}

#routedConent.ng-leave-active .anchor {
    transform: translateY(500px);
    opacity: 0;
}

.slide {
    transition: $opacity-transition, max-height .13s linear;
    backface-visibility: visible;
    overflow: hidden;
    opacity: 1;
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        transition: $opacity-transition, max-height .13s linear;
        max-height: 0;
        opacity: 0;
        }
}

.fade-show {
    opacity: 1;
    max-height: 200px;
    // overflow: hidden;
}

.fade-show.ng-hide {
    opacity: 0;
    max-height: 0;
}

.fade-show.ng-hide.ng-hide.add,
.fade-show.ng-hide-remove {
    transition: .3s linear all;
}

.fade2 {
    opacity: 1;
}

.fade2.ng-leave {
  transition:0.3s linear all;
  opacity:1;
}
.fade2.ng-leave.ng-leave-active {
  opacity:0;
}

.fade2.ng-enter {
  transition:0.3s linear all;
  opacity:0;
}
.fade2.ng-enter.ng-enter-active {
  opacity:1;
}

.enlarge {
    font-size: 120%;
    text-shadow: 1px 1px 1px #ccc;
    transition: font-size 0.2s, text-shadow 0.2s;
    transition-timing-function: ease-in;
}

.enlarge:hover {
    font-size: 140%;
    text-shadow: 1px 3px 4px #ccc;
}

.enlarge-fix {
    font-size: 140%;
    text-shadow: 1px 3px 4px #ccc;
}


.enlarge-simple:hover {
	font-size: 120%;
	transtition: font-size 0.2s ease-in;
}

.slide-up {
    transition: .4s linear all;
    transition-timing-function: ease-out;
}

img.fb-animate {
   -webkit-filter: grayscale(80%);
   -moz-filter: grayscale(80%);
   filter: grayscale(80%);
   transition: all 0.5s ease;
}

img.fb-animate:hover {
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
}


a.nav-link:hover {
	transition-delay: 0.1s;
}

.nav-item-highlight:hover {
	background-color: white;
	transition: all 0.5s ease-out;
	transition-delay: 0.1s;
}


