.my-10 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.index {
    font-size: 1.7em;
    font-family: Arial;
    color: #908080;
    cursor: pointer;
    &:hover {
        color: #605050;
        text-decoration: underline;
        padding: 2px;
    }
}

.smaller-d {
    font-size: 0.75em;
    height: 90%;
}

.active {
    color: #504040;
}

.definition-card {
    height: 80%;
    min-height: 400px;

    .card {
        width: 45%;
        position: fixed;
        min-height: 400px;
    }
}

.definition-d {
    font-size: 1rem;
    width: 85%;
    position: relative;
    &.headword {
        font-size: 1.2rem;
        margin-bottom: 5px;
        font-weight: bold;
    }
    &.pronunciation {
        font-size: 1rem;
    }
    &.pos {
        font-size: 0.85rem;
        color: #555555;
        font-style: italic;
        margin-bottom: 10px;
        display: block;
    }
    &.etymology {
        font-size: 0.9rem;
        // background-color: #f8f8f8;
        border-radius: 3px;
        margin-top: 5px;
    }
    &.divider {
        margin: 20px;
    }
}

.inline.form-control {
    display: inline;
    width: 80%;
}

.scroll-box {
	overflow-y: auto;
	max-height: 420px;
	padding: 1rem
}

.go-to {
    color: #bd4932;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}