html {
    background-color: white !important;
}

body {
  @include body-font;
}

:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.bigger {
    font-size: 2rem;
    &.en {
        font-size: 1.5rem;
    }
}

.text-bigger {
    font-size: 1.1rem;
}

div#wrapper {
    padding-top: 100px;
}

span.caption {
	display: block;
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom;
}

ol.paren {
  counter-reset: list;
}
ol.paren > li {
  list-style: none;
}

ol.paren > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}

.go-up {
	color: $gray-600;
	font-size: 0.9rem;
	cursor: pointer;
	margin: 10px;
	&::before {
		content: '\2191  ';
	}
	&:hover {
		color: black;
	}
}

ol.contents {
	color: $vint-maroon;
}

span.contents {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}