$color-warning-light: #fcf8e3;
$color-success-light: #dff0d8;
$color-danger-light: #f2dede;
$color-info-light: #d9edf7;
$color-warning: #f0ad4e;
$color-success: #5cb85c;
$color-danger: #d9534f;
$color-info: #5bc0de;

.card-header {
    // background-color: darken($color-success-light, 25%) !important;
    // background-color:#105B63 !important;
    color: white;
    opacity: .5;

    &.dark {
        background-color: #5A6268;
        opacity: .8;
    }
}

.card {
    padding: 0px;
    // padding-right
}

div.divider {
    margin: 15px;
}

.bg-vint-dark-red {
    background-color: #BD2932;
}

label span {
    line-height: 1.15;
}

button.meta {
    width: 130px;
    font-size: .8rem;
    opacity: 0.8;
}

.plusm {
    margin-top: -30px;
}
