nav.navbar {
    padding: 0px !important;
}

div.navbar-collapse {
    padding: 10px;
}

nav div.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0, 0.12);
}

.navbar-brand {
    font-family: 'Bookman', 'Palatino', serif !important;
    // margin-left: -10px;
	margin-right: 10px;
    color: $gray-700 !important;
	font-size: 1.6rem;
	@media (min-width: 1200px) {
		margin: 0;
		font-size: 2rem;
	}
	&.en {
		font-size: 1.4rem;
		@media (min-width: 1200px) {
			margin: 0;
			font-size: 1.6rem;
		}
	}

}

// a.nav-link {
//     font-size: 1.2rem;
//     font-family: 'Lato', 'Helvetica', sans-serif !important;
//     color: white !important;
//     &:hover {
//         color: $vint-maroon !important;
//     }
//     &.other:hover {
//         background-color: white;
//     }
// 	@media (min-width: 1200px) {
// 		font-size: 1.4rem;
// 	}
// }

.bg-vint-maroon {
    background-color: $vint-maroon;
}

.dropdown-item.custom-highlight:focus, .dropdown-item.custom-highlight:hover {
	text-decoration: none;
	background-color: white;
	opacity: 0.5;
}

.langSwitch {
    cursor: pointer;
    color: #a0a0a0;
    margin-left: 20px;
    font-size: 0.9rem;
    .non-active {
        color: #c0c0c0;
    }
}
