table.results {
    margin-top: 10px;
    font-size: 90%;

    .match {
        width: 20%;
    }
    .context {
        width: 33%;
    }
    .expand {
        width: 3%;
    }
    .selection {
        width: 8%;
    }

    .audio {
        width: 8%;
    }

    .plain {
        width: 78%;

    }

    .indent {
        width: 6%;
    }

    .content {
        width: 86%;
    }
}

.hidden {
    visibility: hidden;
}

.invisible {
    visibility: none;
}

.clickable {
        cursor: pointer;
    }

audio {
    width: 250px;
}

div.meta {
    background-color: #FFFFF0;
    margin-top: 15px;
    padding: 5px;
    opacity: .9;
}

div.meta.ng-enter {
    transition: 0.3s linear all;
    opacity: 0;
}

div.meta.ng-enter.ng-enter-active {
    opacity: .9;
}

.mwe {
    // background-color: #ffffc0;
    text-decoration: underline;
}

.mwe-begin {
    margin-left: 2px;
}
.mwe-end {
    margin-right: 2px;
}

.dif {
    cursor: pointer;
}

i.gray {
    color: gray;
}

i.fixed {
	color: black;
}

.definition {
    font-size: .8rem;
    width: 160px;
    position: relative;
    &.headword {
        font-size: 0.9rem;
		margin-top: 7px;
        margin-bottom: 5px;
        display: block;
    }
    &.pos {
        font-size: 0.7rem;
        color: #555555;
        font-style: italic;
        margin-bottom: 10px;
        display: block;
    }
    &.etymology {
        font-size: 0.75rem;
        // background-color: #f8f8f8;
        border-radius: 3px;
        margin-top: 5px;
    }
}

.definition-box {
    position: absolute;
    background-color: white;
    font-family: Lato;
    // opacity: .9;
    color: #333333;
    border-radius: 4px !important;
    box-shadow: rgba(76, 85, 101, 0.2) 0px 0px 1px 0px, rgba(76, 85, 101, 0.2) 0px 2px 7px 0px !important;
    padding: 12px;
	padding-top: 5px;
    z-index: 10;
}

.close-x {
    cursor: pointer;
    float: right;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    color: black;
    opacity: .5;
    z-index: 15;
    position: relative;
}

.close-x:hover {
    opacity: 1;
}

.close-x.disabled {
    opacity: .2;
}

.paginator {
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: red !important;
    .page-item .page-link {
        color: #6c757d;
    }
    .page-item.disabled .page-link {
        color: #a0a0a0;
    }
    .page-item.active .page-link {
        background-color: #bd4932;
        border-color: #bd4932;
        color: white;
    }
}
