<div enter-submit>
	<div style="margin-top: 2%;"></div>
    <div id="basic_search" class="card col-md-10 offset-md-1">
            <div class="card-header text-center dark">
                <div class="row justify-content-center align-content-center">
                    <h5 class="card-title my-auto py-1" translate>Basic Search</h5>
                </div>
            </div>
            <div class="card-body">
                <query-row ng-repeat="row in rowsNumber()" show-tokens-in-between="$index != rowsNumber().length - 1" queryRow="queryRows[$index]" queryRows="queryRows" index="$index"></query-row>
                <div class="plusm float-right">
                    <span style="margin-right: 10px"><small translate>Add / Delete Row</small></span>
                    <div class="btn btn-light font-weight-bold" ng-click="moreRows()">
                        +
                    </div>
                    <div class="btn btn-light font-weight-bold" ng-click="lessRows()">
                        -
                    </div>
                </div>
            </div>

        <div id="metadata" class="card-body col-lg-12">
            <div class="row">
                <div class="col-11">
                    <button class="btn btn-light" ng-click="changeVisible('meta')">{{metaButton|translate}}</button>
                </div>
            </div>
            <div ng-show="getVisible('meta')" class="fade-show mt-3 bg-light ">
                <span ng-repeat="field in metaFieldsNumberArray()" class="bg-light">
                    <div id="placeholders" class="row pt-3">
                        <div class="form-group col-lg-4" class="bg-light">
                            <metadata index="$index" place="0"></metadata>
                        </div>
                        <div class="form-group col-lg-4">
                            <metadata index="$index" place="1" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 != 1"></metadata>
                        </div>
                        <div class="form-group col-lg-4">
                            <metadata index="$index" place="2" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 == 0"></metadata>
                        </div>
                    </div>
                </div>
                    <!--<div class="show-hide-container" ng-click="changeVisible('map')">
                        <div id="show-hide">
                            {{getButtonState('map')}}
                        </div>
                    </div>
                    <div style="width:79%;margin:auto;">
                        <div id="inputMap" ng-show="getVisible('map')" class="opacity-show-hide"></div>
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' ng-show="resizeMap()">
                            ui-gmap-marker idKey="'id' + $index" coords="locations[$index]" ng-repeat="location in locations">
                        </ui-gmap-google-map>
                    </div>
                </span>-->
        </div>

    </div>
    <div class="divider"></div>
    <div class="card col-md-10 offset-md-1 col-">
        <!--Complex (CQP) search-->
        <div id="advanced" class="card-header text-center dark">
			<h5 class="card-title my-auto py-1" translate>CQL Search</h5>
		</div>
        <!-- <input type="button" id="main" style="float: right; position: relative; top: -30px; margin-right: 5px;" value="{{'Clear'|translate}}" ng-click="clear()"> -->
        <div class="card-body">
            <div class="col-sm-10 offset-sm-1">
                <input type="text" class="form-control" id="cqp_search" placeholder="{{'Search'|translate}}" ng-model="outputQuery" ng-value="getQuery()" ng-change="checkManualUpdate()">
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="col-md-4 offset-md-1">
        <!-- <i class="icon-cancel" ng-click="clear ()"></i> -->
        <input type="submit" value="{{'Search'|translate}}" class="btn btn-success text-white" go-click="/results">
        <button type="button" class="btn btn-secondary" ng-click="clear ()" translate>Clear</button>
    </div>
</div>
</div>

<input type="hidden" name="query" ng-value="outputQuery"/>
<input type="hidden" name="metaToShow" ng-value="metaToShow()"/>
<!--<input type="hidden" name="langFilter[]" value="{{filter}}" ng-repeat="filter in getFilters()"/>-->
