<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title translate>SpoCo Corpus</title>
    
    <!-- Bootstrap 4 core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- AngularJS Material -->
     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css">

    <!-- ngDialog modals -->
    <link href="vendor/ng-dialog/ngDialog.min.css" rel="stylesheet">
    <link href="vendor/ng-dialog/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="vendor/ng-dialog/ngDialog-theme-help.min.css" rel="stylesheet">

    <!-- Custom style -->
    <link href="css/custom-style.min.css" rel="stylesheet">

  </head>

  <body ng-app="spoco">
    <div id="mainWrapper">
        <div id="fixedContent" ng-controller="header">
            <!-- Navigation -->
            <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white">
				<div class="container-fluid">
                    <div class="col-md-4 offset-md-2 bg-white mx-auto d-flex">
                        <span class="navbar-brand clickable" go-click="/" translate><b>Spo</b>ken <b>Co</b>rpus Interface</span>
                    </div>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse col-md-5 mx-auto" id="collapsibleNavbar">
                        <ul class="nav navbar-nav ml-auto align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" ng-href="{{getLink('help')}}" translate>Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="{{getLink('info')}}" translate>Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" ng-href="{{getLink('dictionary')}}" translate>Dictionary</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <div class="align-items-center float-right">
                            <div class="langSwitch">
                                [
                                <span class="{{curLang == 'pl' ? '' : 'non-active'}} enlarge-simple" ng-click="switchLanguage ('pl')">pl</span>
                                <span class="{{curLang == 'en' ? '' : 'non-active'}} enlarge-simple" ng-click="switchLanguage ('en')">en</span>
                                ]
                            </div>
                        </div>
                    </div>
				</div>
            </nav>
        </div>
        <div id="wrapper">
            <div ng-view id="routedContent"></div>
        </div>
    </div>

    <!-- External Libraries -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" 
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
            crossorigin="anonymous">
    </script>
    
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-messages.min.js"></script>
    
    <!-- Bootstrap v.4 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        
    <!-- Angular Material -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>
    
    <!-- Local Libraries -->
    <script src="vendor/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>   <!-- AngularJS + Bootstrap -->
    <script src="vendor/angular-gettext/angular-gettext.js"></script>   <!-- interface translation -->
    <script src="vendor/angular-map/angular-map.min.js"></script>   <!-- responsive HTML image map -->
    <script src="vendor/angularjs-dropdown-multiselect/angularjs-dropdown-multiselect.js"></script> <!-- metadata dropdown -->
    <script src="vendor/ng-dialog/ngDialog.min.js"></script>    <!-- modals -->
    
    <!-- Core Files -->
    <script src="jsapp/spoco.js"></script>
    <script src="jsapp/corpus.js"></script>
    <script src="jsapp/help.js"></script>
    <script src="jsapp/languageQuery/languageQuery.js"></script>
    <script src="jsapp/languageQuery/queryRow/queryRow.js"></script>
	<script src="jsapp/languageQuery/metadata/metadata.js"></script>
	<script src="jsapp/metaShow/metaShow.js"></script>
    <script src="jsapp/factories.js"></script>
	<script src="jsapp/translations.js"></script>
	<script src="jsapp/dictionary/dictionary.js"></script>

  </body>

</html>
