<div class="row">
    <div class="form-group col-md-{{colWidth['md']}} col-sm-{{colWidth['sm']}}" ng-repeat="field in textFields">
        <input type="text" placeholder="{{field.hint|translate}}" id="{{'adv_' + field.name + index}}" ng-model="queryRow.pattrs[field.pos].value"  class="form-control" ng-focus="focus = field.pos">
    </div>
</div>
<div class="row">
    <div class="col-sm-8" style="margin-left: 10px;">
        <label class="checkbox-inline" style="margin-right: 10px;">
            <input type="checkbox"  value="" ng-model="queryRow.pattrs[focus].modifiers['beginWith']"> <small><translate>begin with</translate></small></input>
        </label>
        <label class="checkbox-inline" style="margin-right: 10px;">
            <input type="checkbox"  value="" ng-model="queryRow.pattrs[focus].modifiers['endWith']"> <small><translate>end with</translate></small></input>
        </label>
        <label class="checkbox-inline" style="margin-right: 10px;">
            <input type="checkbox"  value="" ng-model="queryRow.pattrs[focus].modifiers['caseSensitive']"> <small><translate>case sensitive</translate></small></input>
        </label>
		<label class="checkbox-inline" style="margin-right: 10px;" ng-repeat="cb in checkFields">
            <input type="checkbox"  value="" ng-model="queryRow.pattrs[cb.pos].value"> <small><translate>{{cb.hint}}</translate></small></input>
        </label>
    </div>
    <div ng-show="showTokensInBetween" class="col-sm-4 font-weight-bold" style="margin-bottom: 10px;">
    	<small><translate>Tokens in between:</translate></small>
    		<input style="width: 18%; display: inline-block;" id="from_to" type="number" class="form-control-small" placeholder="{{'od'|translate}}" ng-model="queryRow.from">
    		<input style="width: 18%; display: inline-block;" id="from_to" type="number" class="form-control-small" placeholder="{{'do'|translate}}" ng-model="queryRow.to">
    </div>
    	<!--<label class="checkbox-inline">
    		<input type="checkbox" value="" ng-model="queryRow.negate"> <small>negation</small>
    	</label>-->
</div>