<div class="d-flex btn-group justify-content-center">
    <div ng-if="meta.type == 'text'">
        <input type="{{meta.type}}" placeholder="{{meta.hint|translate}}" ng-model="meta.value" class="form-control-checkbox" />
    </div>
    <span ng-if="meta.type == 'select'" ng-dropdown-multiselect="" options="values" selected-model="model" extra-settings="multiSettings" translation-texts="hint" checkboxes="true"></span>
    <label class="checkbox-inline ml-2">
        <input type="checkbox" class="align-bottom" ng-model="negation"><small><span translate class="align-bottom ml-1 ">wyklucz</span></small>
    </label>
</div>
