<div class="float-right clickable enlarge" style="margin-top: -20px; margin-right: -10px;" ng-click="close()">x</div>
<img src="img/help/query_page_expanded.png" id="query-page" usemap="#query-page-map" class="rwdimgmap img-fluid" size="1920,995">
<map name="query-page-map">
    <area target="" alt="Landing" coords="1,1,630,104" shape="rect" nohref ng-click="showHelp($event, 'Landing', true)" ng-mouseover="showHelp($event, 'Landing')" ng-mouseleave="closeHelp()">
    <area target="" alt="Language" coords="1715,39,1785,67" shape="rect" nohref ng-click="showHelp($event, 'Language', true)" ng-mouseover="showHelp($event, 'Language')" ng-mouseleave="closeHelp()">
    <area target="" alt="Facebook" coords="1836,17,1914,90" shape="rect" nohref ng-click="showHelp($event, 'Facebook', true)" ng-mouseover="showHelp($event, 'Facebook')" ng-mouseleave="closeHelp()">
    <area target="" alt="Basic Search" coords="157,151,1761,216" shape="rect" nohref ng-click="showHelp($event, 'Basic Search', true)" ng-mouseover="showHelp($event, 'Basic Search')" ng-mouseleave="closeHelp()">
    <area target="" alt="Token" coords="180,236,550,284" shape="rect" nohref ng-click="showHelp($event, 'Token', true)" ng-mouseover="showHelp($event, 'Token')" ng-mouseleave="closeHelp()">
    <area target="" alt="Lemma" coords="574,238,945,286" shape="rect" nohref ng-click="showHelp($event, 'Lemma', true)" ng-mouseover="showHelp($event, 'Lemma')" ng-mouseleave="closeHelp()">
    <area target="" alt="Dialectal Form" coords="971,236,1341,284" shape="rect" nohref ng-click="showHelp($event, 'Dialectal Form', true)" ng-mouseover="showHelp($event, 'Dialectal Form')" ng-mouseleave="closeHelp()">
    <area target="" alt="Grammatical Tag" coords="1369,236,1739,282" shape="rect" nohref ng-click="showHelp($event, 'Grammatical Tag', true)" ng-mouseover="showHelp($event, 'Grammatical Tag')" ng-mouseleave="closeHelp()">
    <area target="" alt="Beginning" coords="189,297,270,321" shape="rect" nohref ng-click="showHelp($event, 'Beginning', true)" ng-mouseover="showHelp($event, 'Beginning')" ng-mouseleave="closeHelp()">
    <area target="" alt="Ending" coords="277,301,365,321" shape="rect" nohref ng-click="showHelp($event, 'Ending', true)" ng-mouseover="showHelp($event, 'Ending')" ng-mouseleave="closeHelp()">
    <area target="" alt="Case Sensitive" coords="374,297,547,321" shape="rect" nohref ng-click="showHelp($event, 'Case Sensitive', true)" ng-mouseover="showHelp($event, 'Case Sensitive')" ng-mouseleave="closeHelp()">
    <area target="" alt="Differential" coords="555,301,662,323" shape="rect" nohref ng-click="showHelp($event, 'Differential', true)" ng-mouseover="showHelp($event, 'Differential')" ng-mouseleave="closeHelp()">
    <area target="" alt="Between" coords="177,340,314,362" shape="rect" nohref ng-click="showHelp($event, 'Between', true)" ng-mouseover="showHelp($event, 'Between')" ng-mouseleave="closeHelp()">
    <area target="" alt="From" coords="313,335,406,369" shape="rect" nohref ng-click="showHelp($event, 'From', true)" ng-mouseover="showHelp($event, 'From')" ng-mouseleave="closeHelp()">
    <area target="" alt="To" coords="408,335,501,372" shape="rect" nohref ng-click="showHelp($event, 'To', true)" ng-mouseover="showHelp($event, 'To')" ng-mouseleave="closeHelp()">
    <area target="" alt="Additional Row" coords="172,377,1743,432" shape="rect" nohref ng-click="showHelp($event, 'Additional Row', true)" ng-mouseover="showHelp($event, 'Additional Row')" ng-mouseleave="closeHelp()">
    <area target="" alt="Add/Remove Row" coords="1510,449,1646,474" shape="rect" nohref ng-click="showHelp($event, 'Add/Remove Row', true)" ng-mouseover="showHelp($event, 'Add/Remove Row')" ng-mouseleave="closeHelp()">
    <area target="" alt="Add Row" coords="1653,445,1695,483" shape="rect" nohref ng-click="showHelp($event, 'Add Row', true)" ng-mouseover="showHelp($event, 'Add Row')" ng-mouseleave="closeHelp()">
    <area target="" alt="Remove Row" coords="1698,447,1739,483" shape="rect" nohref ng-click="showHelp($event, 'Remove Row', true)" ng-mouseover="showHelp($event, 'Remove Row')" ng-mouseleave="closeHelp()">
    <area target="" alt="Filters" coords="184,528,294,574" shape="rect" nohref ng-click="showHelp($event, 'Filters', true)" ng-mouseover="showHelp($event, 'Filters')" ng-mouseleave="closeHelp()">
    <area target="" alt="Birth Year" coords="309,600,471,652" shape="rect" nohref ng-click="showHelp($event, 'Birth Year', true)" ng-mouseover="showHelp($event, 'Birth Year')" ng-mouseleave="closeHelp()">
    <area target="" alt="Living Place" coords="840,608,996,646" shape="rect" nohref ng-click="showHelp($event, 'Living Place', true)" ng-mouseover="showHelp($event, 'Living Place')" ng-mouseleave="closeHelp()">
    <area target="" alt="Sex" coords="1376,605,1524,647" shape="rect" nohref ng-click="showHelp($event, 'Sex', true)" ng-mouseover="showHelp($event, 'Sex')" ng-mouseleave="closeHelp()">
    <area target="" alt="Nationality" coords="311,680,467,719" shape="rect" nohref ng-click="showHelp($event, 'Nationality', true)" ng-mouseover="showHelp($event, 'Nationality')" ng-mouseleave="closeHelp()">
    <area target="" alt="Education" coords="839,681,996,719" shape="rect" nohref ng-click="showHelp($event, 'Education', true)" ng-mouseover="showHelp($event, 'Education')" ng-mouseleave="closeHelp()">
    <area target="" alt="Informant" coords="1369,678,1525,719" shape="rect" nohref ng-click="showHelp($event, 'Living Place', true)" ng-mouseover="showHelp($event, 'Informant')" ng-mouseleave="closeHelp()">
    <area target="" alt="Exclude" coords="474,613,542,644" shape="rect" nohref ng-click="showHelp($event, 'Exclude', true)" ng-mouseover="showHelp($event, 'Exclude')" ng-mouseleave="closeHelp()">
    <area target="" alt="CQL Search" coords="155,776,1763,841" shape="rect" nohref ng-click="showHelp($event, 'CQL Search', true)" ng-mouseover="showHelp($event, 'CQL Search')" ng-mouseleave="closeHelp()">
    <area target="" alt="CQL Query" coords="323,863,1598,910" shape="rect" nohref ng-click="showHelp($event, 'CQL Query', true)" ng-mouseover="showHelp($event, 'CQL Query')" ng-mouseleave="closeHelp()">
    <area target="" alt="Search" coords="169,940,260,990" shape="rect" nohref ng-click="showHelp($event, 'Search', true)" ng-mouseover="showHelp($event, 'Search')" ng-mouseleave="closeHelp()">
    <area target="" alt="Clear" coords="264,940,364,990" shape="rect" nohref ng-click="showHelp($event, 'Clear', true)" ng-mouseover="showHelp($event, 'Clear')" ng-mouseleave="closeHelp()">
</map>