<div class="meta small fade2" ng-if="show">
    <div class="row" ng-repeat="metaRow in metaToShow" ng-if="$index % 3 === 0">
        <div ng-repeat="field in [$index, $index + 1, $index + 2]" class="col-md-4" ng-if="metaToShow[field].name">
            <b>{{metaToShow[field].name | translate}}:</b><span class="mx-1">{{content[metaToShow[field].id]}}</span>
        </div>
    </div>
</div>
