<div class="col-md-10 offset-md-1 info justified">
	<h3>Pomoc</h3>
    <hr>
    <div id="menu" class="my-4">
        <ul>
            <li>
                <span class="contents" ng-click="scrollTo('concepts')">Podstawowe koncepcje</span>
                <ul>
                    <li><span class="contents" ng-click="scrollTo('search')">Wyszukiwanie</span>
                    <li><span class="contents" ng-click="scrollTo('layers')">Warstwy językowe</span>
                    <li><span class="contents" ng-click="scrollTo('metadata')">Metadane i filtrowanie</span>
                    <li><span class="contents" ng-click="scrollTo('regex')">Wyrażenia regularne</span>
                </ul>
            </li>
            <li>
                <span class="contents" ng-click="scrollTo('basic')">Szukanie</span>
                <ul>
                    <li><span class="contents" ng-click="scrollTo('basic')">Wyszukiwanie podstawowe</span></li>
                    <li><span class="contents" ng-click="scrollTo('advanced')">Wyszukiwanie zaawansowane</span></li>                    
                </ul>
            </li>
            <li><span class="contents" ng-click="scrollTo('results')">Wyniki</span></li>
            <li><span class="contents" ng-click="scrollTo('lexicon')">Słownik</span></li>
            <li><span class="contents" ng-click="scrollBottom('cheatsheet')">Ściąga</span></li>
        </ul>
    </div>
    <hr>
    <div class="mt-5" id="concepts">
        <h5>Podstawowe koncepcje</h5>
        <div id="search">
            <h6 >Wyszukiwanie</h6>
            <p>
                Wyszukiwanie w Korpusie Spiskim zaprojektowano tak, by można było efektywnie z niego korzystać niezależnie od poziomu zaawansowania. Użytkownik początkujący może skorzystać z wyszukiwania podstawowego, które daje dostęp do podstawowych, najważniejszych funkcji przeszukiwania i automatycznie tworzy właściwe zapytanie z dostępnych elementów. Użytkownik doświadczony, znający składnię języka zapytań CQL i potrzebujący zapytań bardziej złożonych, może skorzystać z wyszukiwania zaawansowanego, które daje znacznie więcej możliwości. Warto zauważyć, że konstruktor zapytań wyszukiwania podstawowego stworzone przez siebie zapytanie wyświetla na bieżąco, dzięki czemu użytkownik może zapoznać się z podstawowymi konstrukcjami języka CQL, a także ma możliwość elastycznej modyfikacji tak stworzonego zapytania.
            </p>
            <p>
                Dane w Korpusie Spiskim mają dwie podstawowe jednostki: wyrazy oraz segmenty &ndash; fragmenty wypowiedzi tworzące z gramatycznego i semantycznego punktu widzenia zamkniętą całość (w przybliżeniu będącą odpowiednikiem zdania). Wyszukiwanie w Korpusie w najbardziej podstawowym ujęciu polega na znalezieniu wszystkich segmentów, które zawierają szukany wyraz (lub ich sekwencję). 
        </div>
        <div id="layers">
            <h6>Warstwa standardowa (znormalizowana) i warstwa gwarowa</h6>
            <p>
                Materię językową Korpusu Spiskiego stanowi gwara, w oczywisty sposób różniąca się od polszczyzny standardowej. Aby ujednolicić status form gwarowych i ułatwić ich wyszukiwanie, każdy wyraz w Korpusie ma wersję znormalizowaną, tj. "przełożoną" na język standardowy. Jednocześnie część wyrazów, których status leksykalny lub gramatyczny świadczy o ich dużej odrębności w stosunku do języka ogólnego, zapisywanych jest alternatywnie w wersji oryginalnej, gwarowej (pozostałe wyrazy również posiadają wersję gwarową, ale jest ona identyczna jak standardowa). Przykładowo, dopełniacz liczby pojedynczej leksemu <i>sićko</i> jest w warstwie gwarowej zapisywany jako <i>sićkiego</i>, a w warstwie standardowej jako <i>wszystkiego</i>. Obie warstwy można przeszukiwać niezależnie.
            </p>
        </div>
        <div id="metadata">
            <h6>Metadane i filtrowanie</h6>
            <p>
                Każdy informator w Korpusie Spiskim jest opisany za pomocą szeregu danych, takich jak płeć, rok urodzenia, miejsce zamieszkania itd. Dane te mogą być wykorzystywane dwojako:
                <ul>
                    <li>przy wyszukiwaniu: ograniczenie wyników wyszukiwania do wypowiedzi informatorów o określonym profilu &ndash; np. o określonej narodowości,</li>
                    <li>przy prezentacji wyników: wyświetlanie informacji o informatorze, który jest autorem danej wypowiedzi.</li>
                </ul>
                <a href="#!/metadata">Więcej o metadanych i ich użyciu</a>
            </p>
        </div>
        <div id="regex">
            <h6>Wyrażenia regularne</h6>
            <p>
                Dowolny ciąg znaków wpisanych w pola wyszukiwań interpretowany jest jako wyrażenie regularne. Wyrażenia regularne pozwalają na rozszerzenie możliwości normalnego wyszukiwania dzięki użyciu specjalnych znaków. Przykładowo, ciąg <i>kot[ay]</i> jest interpretowany jako <i>kota</i> lub <i>koty</i>, a <i>k.*t</i> jako dowolny wyraz zaczynający się od <i>k</i> i kończący na <i>t</i> (a więc m.in. <i>kot</i>, <i>kilkaset</i>, <i>kłopot</i>). Więcej o wyrażeniach regularnych (w języku angielskim): 
                <ul>
                    <li><a href="https://www.regular-expressions.info/" target="blank">przewodnik</a></li>
                    <li><a href="http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/" target="blank">ściąga</a></li>
                    <li><a href="http://regex101.com" target="blank">miejsce do testowania</a></li>
                </ul>
                Wyrażenia regularne są niezwykle użytecznym narzędziem mogącym istotnie usprawnić wyszukiwanie, ale ich znajomość nie jest wymagana: zwykłe wyszukiwanie (nieużywające specjalnej notacji) jest również poprawne. 
            </p>
        </div>
    </div>
    <div class="mt-4" id="basic">
        <h5>Wyszukiwanie podstawowe</h5>
        <p>
            W tym trybie użytkownik ma do dyspozycji szereg pól i opcji, które służą do automatycznego tworzenia właściwego zapytania. Każdy wiersz (domyślnie wyświetlany jest tylko jeden) dotyczy jednego wyrazu i zawiera cztery pola (nazywane dalej polami zapytań), pozwalające na wybranie odpowiedniej metody określenia szukanego wyrazu. Dostępne są:
            <ol>
                <li>
                    <b>Wyraz</b> (znormalizowana forma wyrazu). W to pole można wpisać dokładną formę poszukiwanego wyrazu w <span class="contents" ng-click="scrollTo('layers')">wersji znormalizowanej</span>. Przykładowo, wpisanie formy <i>psów</i> umożliwi wyszukanie wszystkich segmentów, w których wyraz w tej formie występuje;
                </li>
                <li>
                    <b>Lemat</b> (znormalizowana forma hasłowa). Pozwala na wyświetlenie wszystkich segmentów, w których znajduje się podany leksem <b>w dowolnej formie</b>. Przykładowo, forma <i>pies</i> umożliwia znalezienie wszystkich segmentów zawierających formy wyrazowe takie jak <i>pies</i>, <i>psa</i>, <i>psy</i>, <i>psami</i> itd. Lemat wyrazu ma postać <span class="contents" ng-click="scrollTo('layers')">znormalizowaną</span>;
                </li>
                <li>
                    <b>Forma gwarowa</b>. Pole pozwala na wyszukanie formy wyrazowej zapisanej w postaci <span class="contents" ng-click="scrollTo('layers')">gwarowej</span>. Przykładowo, wpisanie w pole formy <i>sićkiego</i> umożliwia wyświetlenie wszystkich segmentów, które zawierają (w warstwie gwarowej) <b>dokładnie taką</b> formę wyrazową;
                </li>
                <li>
                    <b>Tag</b> (charakterystyka morfosyntaktyczna). Każdy wyraz w korpusie opisany jest za pomocą charakterystyki morfosyntaktycznej, tzw. tagu. Składa się on z kilku kategorii (ich zestaw zależny jest od części mowy), w symboliczny sposób reprezentujących odpowiednie cechy wyrazu. Przykładowo, ciąg <i>subst:pl:gen:f</i> oznacza rzeczowniki (<i>subst</i>) w liczbie mnogiej (<i>pl</i>), w dopełniaczu (<i>gen</i>) i w rodzaju żeńskim (<i>f</i>). <i>Tagset</i>, tj. zestaw znaczników używanych w korpusie jest identyczny jak w Narodowym Korpusie Języka Polskiego. Z jego opisem można dokładniej zapoznać się <a href="http://nkjp.pl/poliqarp/help/plse2.html#x3-20002" target="blank"> na stronie NKJP</a>.
                </li>
            </ol>
            Każdy wyraz w korpusie opisany jest za pomocą czterech powyższych danych, a więc każdy posiada formę znormalizowaną, lemat, formę gwarową (choć ta w wielu przypadkach jest identyczna jak forma znormalizowana) oraz tag gramatyczny. Jeżeli zatem szukamy wyrazu na podstawie lematu, znalezione zostaną wszystkie wyrazy, których lemat pasuje do tekstu wpisanego w pole <i>Lemat</i>. Ważne jest, by pamiętać, że znalezione zostaną tylko te wyrazy, które <b>dokładnie</b> pasują do ciągu znaków w polu zapytania. Jeżeli zatem w pole <i>Wyraz</i> wpiszemy ciąg <i>kot</i>, dopasowana zostanie wyłącznie forma <i>kot</i>, a nie <i>koty</i>, <i>kotwica</i>, <i>łaskotki</i> itp. Aby określić tylko początek albo koniec formy, lematu lub tagu gramatycznego, należy skorzystać z pól wyboru <i>początek</i> lub <i>końcówka</i>, znajdujących się poniżej pól zapytania. Pola zapytań można łączyć, np. wpisanie w pole <i>Wyraz</i> ciągu <i>puszcza</i>, a w pole <i>Lemat</i> ciągu <i>puszczać</i> pozwala na znalezienie tylko czasowników w tej formie.
        </p>
        <p>
            Poniżej wiersza z polami zapytań znajdują się pola wyboru, za pomocą których można modyfikować interpretację ciągu wpisanego w odpowiednie pole. Dostępne są:
            <ul>
                <li>
                    <b>początek</b> &ndash; zaznaczenie tej opcji spowoduje, że wyszukane zostaną wszystkie formy zaczynające się od ciągu znaków podanych w odpowiednim polu wyszukiwania. Przykładowo, jeśli w polu <i>Wyraz</i> wpiszesz <i>ko</i>, wyszukane zostaną wszystkie wystąpienia wyrazów zaczynających się na <i>ko</i> (np. <i>kościele</i>, <i>kolega</i> itp.). Podobnie, wpisanie w pole <i>Lemat</i> ciągu <i>dob</i> i zaznaczenie opcji <i>Początek</i> pozwala na wyszukiwanie wszystkich wyrazów, których forma hasłowa zaczyna się na <i>dob</i> &ndash; np. <i>dobrej</i>, <i>lepszego</i> (lemat: <i>dobry</i>), <i>dobiera</i> (lemat: <i>dobierać</i>) itp.,
                </li>
                <li>
                    <b>końcówka</b> &ndash; zaznaczenie tej opcji pozwala wyszukać wszystkie formy kończące się ciągiem znaków podanych w odpowiednim polu wyszukiwania. Przykładowo, jeśli w polu <i>Wyraz</i> wpiszesz <i>ko</i>, wyszukane zostaną wszystkie wystąpienia wyrazów kończących się na <i>ko</i> (np. <i>jako</i>, <i>mleko</i> itp.). Podobnie, wpisanie w pole <i>Lemat</i> ciągu <i>ać</i> i zaznaczenie opcji <i>końcówka</i> pozwala na wyszukiwanie wszystkich wyrazów, których forma hasłowa kończy się na <i>ać</i>, a zatem części czasowników, imiesłowów itp.,
                </li>
                <li>
                    <b>rozróżniaj wielkość liter</b> &ndash; wyszukiwarka domyślnie nie rozróżnia małych i dużych liter. Zaznaczenie tej opcji powoduje zmianę tego zachowania: ciąg <i>kowal</i> i <i>Kowal</i> będą interpretowane jako różne wyrazy. W Korpusie Spiskim duże litery stosowane są wyłącznie w nazwach własnych i skrótowcach</i>,
                </li>
                <li>
                    <b>dyferencyjny</b> &ndash; zaznaczenie tej opcji pozwala na wyszukiwanie wyłącznie wyrazów dyferencyjnych (nie występujących w polszczyźnie standardowej).
                </li>
            </ul>
            Każde pole zapytań posiada własny zestaw powyższych opcji, niezależnie od pozostałych pól: jeśli np. użytkownik zaznaczy opcję <i>rozróżniaj wielkość liter</i> dla pola <i>Wyraz</i>, nie spowoduje to zaznaczenia tej opcji dla pozostałych pól. 
        </p>
        <p id="sequence">
            W celu wyszukania sekwencji wyrazów należy dodać kolejne wiersze za pomocą przycisku <em>+</em> z prawej strony. Każdy kolejny wiersz odpowiada kolejnemu wyrazowi z poszukiwanej sekwencji. Przykładowo, jeśli chcemy wyszukać sekwencję <i>na głos</i>, w pierwszym wierszu w polu <i>Wyraz</i> wpisujemy <i>na</i>, a w drugim &ndash; <i>głos</i>. Domyślnie wyrazy wyszukiwanej sekwencji powinny następować bezpośrednio po sobie, można jednak w razie potrzeby to zmienić, korzystając z pól w sekcji <i>Wyrazy pomiędzy</i>. Za pomocą pola <i>od</i> można określić minimalną odległość (liczoną w wyrazach) między dwoma elementami sekwencji, za pomocą pola <i>do</i> &ndash; odległość maksymalną. W przypadku wykorzystania tej opcji należy określić wartość dla obydwu pól. Jeśli zatem chcemy, aby wyszukiwanie uwzględniało również takie ciągi, jak <i>na cały głos</i>, <i>na jego głos</i> itd. (a więc pomiędzy wyrazami <i>na</i> i <i>głos</i> może pojawić się jeden dodatkowy wyraz), należy w polu <i>od</i> ustawić wartość 0, a w polu <i>do</i> wartość 1.
        </p>
        <p>
            Aby ograniczyć wyszukiwanie do informatorów o określonym profilu (np. tylko jednej płci lub odpowiedniego zakresu wiekowego) należy rozwinąć sekcję metadanych za pomocą przycisku <i>Filtruj</i>. Można wtedy wybrać interesujący typ (lub typy) metadanych, i &ndash; za pomocą pól wyboru &ndash; określić potrzebne wartości. W celu odwrócenia zaznaczenia &ndash; tj. wybrania wszystkich wartości <b>poza</b> tymi zaznaczonymi, należy zaznaczyć pole wyboru <i>wyklucz</i> znajdujące się obok. Filtry metadanych można również łączyć (ograniczając w ten sposób wyszukiwanie np. do wypowiedzi mężczyzn z wykształceniem podstawowym i średnim).
        </p>
    </div>
    <div id="advanced">
        <h5>Wyszukiwanie zaawansowane (CQL)</h5>
        <p>
            Użytkownicy bardziej zaawansowani, znający przynajmniej podstawy języka CQL, mogą tworzyć bardziej zaawansowane zapytania za pomocą sekcji <i>Wyszukiwanie CQL</i>. Korpus Spiski używa do przeszukiwania swojej bazy danych języka zapytań CQL (CQP Query Language). Język ten jest standardem w środowisku korpusowym, wykorzystują go liczne wyszukiwarki korpusowe, używanie go wymaga jednak wiedzy i pewnego treningu. Wyszukiwanie podstawowe pozwala korzystać z korpusu bez znajomości CQL, samodzielnie konstruując poprawne zapytanie. W celu ułatwienia nauki początkującym użytkownikom, tak utworzone zapytanie jest na bieżąco wyświetlane w polu <i>Szukaj</i>. Zapytanie to można modyfikować (należy jednak pamiętać, że zapytanie sformułowane niepoprawnie nie zwróci żadnych wyników), można też stworzyć je w tym miejscu od początku. Z samouczkiem CQL (w języku angielskim) można zapoznać się <a href="http://cwb.sourceforge.net/files/CQP_Tutorial.pdf" target="blank">tutaj</a>.
        </p>
        <p>
            Korpus Spiski zakodowany jest w <a href="http://cwb.sourceforge.net/" target="blank">formacie CWB</a>. Format ten działa w oparciu o pojęcia atrybutów pozycyjnych (odnoszących się do pojedynczych wyrazów) i strukturalnych (odnoszących się do obszarów tekstu). W Korpusie Spiskim wykorzystywane są cztery atrybuty pozycyjne:
            <ul>
                <li><b>word</b> &ndash; znormalizowana forma wyrazu,</li>
                <li><b>lemma</b> &ndash; lemat,</li>
                <li><b>morph</b> &ndash; forma gwarowa wyrazu,</li>
                <li><b>dif</b> &ndash; kategoria dyferencyjności, przyjmująca następujące wartości: 0 &ndash; wyraz niedyferencyjny, 1 &ndash; wyraz dyferencyjny o postaci homograficznej z wyrazem standardowym, 2 &ndash; wyraz dyferencyjny o formie niewystępującej w polszczyźnie standardowej.</li>
            </ul>
            Istotne atrybuty strukturalne:
            <ul>
                <li>
                    <b>utterance</b> &ndash; segment
                    <ul>
                        <li><b>utterance_file</b> &ndash; nazwa pliku, z którego pochodzi segment,</li>
                        <li><b>utterance_from</b> &ndash; czas początkowy segmentu (liczony w milisekundach od początku pliku),</li>
                        <li><b>utterance_to</b> &ndash; czas końcowy segmentu (liczony w milisekundach od początku pliku).</li>
                    </ul>
                </li>
                <li>
                    <b>meta</b> &ndash; metadane
                    <ul>
                        <li><b>meta_id</b> &ndash; kod informatora,</li>
                        <li><b>meta_zamieszkanie</b> &ndash; miejsce zamieszkania informatora,</li>
                        <li><b>meta_narodowosc</b> &ndash; narodowość informatora,</li>
                        <li><b>meta_plec</b> &ndash; płeć informatora,</li>
                        <li><b>meta_rok-urodzenia</b> &ndash; rok urodzenia informatora,</li>
                        <li><b>meta_wyksztalcenie</b> &ndash; wykształcenie informatora.</li>
                    </ul>
                </li>
                <li><b>mwe</b> &ndash; jednostka wielowyrazowa</li>
            </ul>
        </p>
    </div>
    <div class="mt-4" id="results">
        <h5>Strona wyników</h5>
        <p>
            Strona prezentująca wyniki ma dwa zasadnicze elementy: górną ramkę, zawierającą podsumowanie wyszukiwania i ikony nawigacyjne, oraz sekcję wyników, gdzie prezentowane są rezultaty wyszukiwania &ndash; tj. wszystkie segmenty, które zawierają szukany wyraz (lub sekwencję wyrazów).
        </p>
        <p>
            <h6>Ikony nawigacyjne</h6>
            Przyciski te służą do zmiany sposobu prezentacji wyników. Są to:
            <ul>
                <li><i class="mx-1 fa fa-exchange-alt"></i> &ndash; zmień tryb wyświetlania wyników. Dostępne są dwa tryby: podstawowy i KWIC (Key Word in Context),</li>
                <li><i class="mx-1 fa fa-info-circle"></i> &ndash; wyświetlaj / ukryj metadane,</li>
                <li><i class="mx-1 fa fa-eye"></i> &ndash; zmień warstwę językową (standardowa/gwarowa),</li>
                <li><i class="mx-1 fa fa-check-square"></i> &ndash; zapisz zaznaczone segmenty w formacie TSV (tab-separated value),</li>
                <li><i class="mx-1 fa fa-download"></i> &ndash; zapisz wszystkie segmenty w formacie TSV.</li>
            </ul>
        </p>
        <p>
            <h6>Wyniki</h6>
            Jeżeli wyszukiwanie przyniosło jakieś rezultaty, są one wyświetlane w tej sekcji w postaci tabeli: każdy segment (w wersji dźwiękowej i tekstowej) zajmuje jeden wiersz. Odpowiedni fragment nagrania można odsłuchać i &ndash; w razie potrzeby &ndash; pobrać na dysk (po kliknięciu w ikonę trzech kropek po prawej stronie odtwarzacza; ta opcja jest dostępna tylko w widoku podstawowym). Transkrypcja segmentu znajduje się w centralnej części wiersza. Dopasowany fragment podświetlony jest na czerwono. Po najechaniu kursorem myszy na dowolny wyraz, pojawia się okienko wyświetlające dodatkowe informacje: lemat wyrazu i jego tag gramatyczny. Wyrazy wchodzące w skład jednostki wielowyrazowej są podkreślone. Po kliknięciu na wyraz dyferencyjny wyświetla się jego słownikowa definicja.<br>
        </p>
        <p id="views">
            <h6>Tryby wyświetlania</h6>
            Korpus Spiski może wyświetlać wyniki w dwóch układach: podstawowym (jest on używany domyślnie) i KWIC (Key Word in Context). W pierwszym z nich w każdym wierszu wyświetlana jest całość segmentu, a ikona <i class="mx-1 fa fa-chevron-down"></i> z prawej strony pozwala na pokazanie szerszego kontekstu (tj. trzy segmenty wcześniejsze i trzy późniejsze). W trybie KWIC transkrypcja podzielona jest na trzy części: lewy kontekst (dziesięć wyrazów na lewo od dopasowanego fragmentu), dopasowanie (fragment segmentu, który pasuje do zapytania) i prawy kontekst (dziesięć wyrazów na prawo od dopasowania). Części te są wyrównane, tak, by łatwo było je przeglądać i porównywać. W tym trybie odtwarzacz zredukowany jest do małej ikony, a przycisk <i class="mx-1 fa fa-plus"></i> rozwija wiersz, dając dostęp do transkrypcji całego segmentu, metadanych i ikony wyświetlania kontekstu (<i class="mx-1 fa fa-chevron-down"></i>).
        </p>
        <p>
            <h6>Zmiana wyświetlania warstwy językowej</h6>
            Domyślnie wyniki wyświetlane są w <span class="contents" ng-click="scrollTo('layers')">wersji znormalizowanej</span>. Za pomocą ikony <i class="mx-1 fa fa-eye"></i>  użytkownik może zmienić wyświetlaną warstwę na gwarową (i odwrotnie). Należy pamiętać, że tylko część wyrazów dysponuje odrębną wersją gwarową &ndash; dla pozostałych jest ona identyczna jak standardowa. 
        </p>
        <p id="save">
            <h6>Zapisywanie wyników</h6>
            Wyniki zapytania można zapisywać w formacie TSV (Tab-Separated Values). Jest to format tekstowy, w którym jedna linijka odpowiada jednemu segmentowi, natomiast w obrębie linijki dane podzielone są na kolumny, rozdzielone znakiem tabulacji. Każda linijka zawiera 13 takich kolumn, w których skład wchodzą: numer segmentu, czas początkowy i końcowy segmentu (liczony w milisekundach od początku pliku dźwiękowego), metadane informatora, lewy kontekst segmentu, dopasowanie i prawy kontekst. Plik w takim formacie można otworzyć w dowolnym edytorze tekstu lub wczytać do arkusza kalkulacyjnego (np. Excel, Calc, Google Sheets). W pliku mogą zostać zapisane wszystkie wyniki (należy użyć przycisku <i class="mx-1 fa fa-download"></i>) lub tylko wybrane: te, które zostały zaznaczone za pomocą pola wyboru znajdującego się po prawej stronie każdego wiersza wyniku (należy użyć przycisku <i class="mx-1 fa fa-check-square"></i>).
        </p>
    </div>
    <div class="mt-4" id="lexicon">
        <h5>Słownik</h5>
        Słownik zawiera wyrazy dyferencyjne (i dyferencyjne jednostki wielowyrazowe) występujące w Korpusie. Na stronie głównej słownika użytkownik ma do wyboru indeks literowy i wyszukiwarkę. Po kliknięciu w dowolną literę indeksu wyświetla się lista wyrazów zaczynających się od tej litery &ndash; ta metoda pozwala na systematyczne zapoznanie się z całą zawartością słownika. Za pomocą wyszukiwarki można szybko znaleźć pożądany wyraz: znalezione zostaną wszystkie wyrazy, które zawierają w sobie szukany ciąg (np. wpisanie ciągu <i>osa</i> zaowocuje listą wyrazów takich jak f<i>osa</i>, k<i>osa</i>cja, do n<i>osa</i> itp.). Kliknięcie dowolnego wyrazu z listy wyświetli okno z opisem tego wyrazu. W skład opisu wchodzi forma hasłowa, wymowa (zapisana w nawiasie kwadratowym), kategoria gramatyczna, definicja i &ndash; dla części leksemów &ndash; etymologia. Dostępny jest też przycisk <i>Zobacz w wynikach</i>, za pomocą którego można wyszukać wszystkie wystąpienia tego wyrazu w Korpusie.
    </div>
    <hr>
    <div class="my-4" id="cheatsheet">
        <h5>Ściąga</h5>
        Wyświetla stronę korpusu w formie interaktywnego obrazka. Najedź myszką na element interfejsu, by wyświetlić związane z nim okienko pomocy, kliknij w element, by okienko nie znikało.
        <ul>
            <li><a class="clickable" ng-click="showQueryPage()">strona wyszukiwania    </li>
            <li class="mb-3"><a ng-click="showResultsPage()">strona wyników</a></li>
        </ul>
    </div>
</div>