<div class="container" ng-show="loaded === false">
    <div ng-show="initials_loaded === true" class="panel panel-success col-sm-12" style="margin-top: 10px; padding: 5px; font-size:1.1em;">
        <div class="col-md-10 offset-md-1">
            <span translate>Retrieving results for query</span>: {{query}}<br>
            <span translate>Number of results</span>: {{numRes}}<br>
        </div>
    </div>
    <div class="col-md-2 offset-md-5">
        <img src="img/spinner_round.gif">
    </div>
</div>
<div class="col-md-10 offset-md-1" ng-show="loaded == true">
    <div class="card">
        <!-- <div class="card-header"><h5 class="card-title">Wyniki</h5></div> -->
        <div class="row card-body">
            <div class="col-sm-6">
                <b translate>Query</b><b>:</b> <i class="gray">{{query}}</i>
                <br/>
                <b translate>Number of results</b><b>:</b> <i class="gray">{{numRes}}</i>
            </div>
            <div class="col-sm-4 offset-sm-2 text-right align-self-center">
                <i class="fa fa-exchange-alt clickable enlarge mx-2 fixed" ng-click="switchMode()">
                    <md-tooltip md-delay="440" md-direction="top" translate>
                        Change view
                    </md-tooltip>
                </i>
                <i class="fa fa-info-circle clickable enlarge {{showMeta ? 'fixed' : 'gray'}} mx-2" ng-click="toggleShowMeta()">
                    <md-tooltip md-delay="440" md-direction="top">
                        {{(showMeta ? 'Hide' : 'Show')|translate}} <span translate>metadata</span>
                    </md-tooltip>
                </i>
                <i class="fa fa-eye clickable enlarge fixed mx-2" ng-click="switchLayer()" ng-if="next_layer != ''">
                    <md-tooltip md-delay="440" md-direction="top">
                        <span translate>Switch layer to</span> {{next_layer}}
                    </md-tooltip>
                </i>                
                <i class="far fa-check-square clickable enlarge fixed mx-2" ng-click="saveTSV('checked')">
                    <md-tooltip md-delay="440" md-direction="top" translate>
                        Save selected results (TSV format)
                    </md-tooltip>
                </i>
                <i class="fas fa-download clickable enlarge fixed mx-2" ng-click="saveTSV('all')">
                    <md-tooltip md-delay="440" md-direction="top" translate>
                        Save all results (TSV format)
                    </md-tooltip>
                </i>
            </div>
        </div>
    </div>
    <table  class="table fade2 results" id="results-table" ng-if="mode === 'kwic'">
        <tr class="text-center bg-light">
            <th class="expand hidden"></th>
            <th class="expand hidden"></th>
            <th class="content clickable">
                <div class="row">
                    <div class="col-sm-5">
                        <span translate>Left Context</span>
                        <i class="fa fa-chevron-{{sorted.direction ? 'down' : 'up'}} small"
                        ng-if="sorted.column == 0">
                        </i>
                    </div>
                    <div class="com-sm-2">
                        <span translate>Match</span>
                        <i class="fa fa-chevron-{{sorted.direction ? 'down' : 'up'}} small"
                              ng-if="sorted.column == 1">
                        </i>
                    </div>
                    <div class="col-sm-5">
                        <span translate>Right Context</span>
                        <i class="fa fa-chevron-{{sorted.direction ? 'down' : 'up'}} small"
                        ng-if="sorted.column == 2">
                        </i>
                    </div>
                </div>
            </th>
            <th class="selection hidden"></th>
        </tr>
        <tr ng-repeat="row in currentSlice">
            <td class="expand">    <!-- play audio -->
                <i class="fa fa-play-circle fa-lg enlarge gray" id="audio-kwic-{{$index}}" ng-click="play($event, row.meta)"></i>
            </td>
            <td class="expand">  <!-- plus -->
                <i class="fa fa-{{expanded[$index] ? 'minus' : 'plus'}} clickable enlarge gray" ng-click="expand($index)"></i>
            </td>
            <td class="content">
                <div class="row">   <!-- kwic row -->
                    <div class="col-sm-5 text-right">  <!-- left context -->
                        <span ng-repeat="word in limit (row.content[0], 0)" class="" ng-click="getDefinition ($event, element.dif, element.lemma)">
                            {{word[layer.attr] + (word.space ?  ' ' : '')}}
                            <md-tooltip md-delay="440" md-direction="top">
                                {{word.lemma}} : {{word.tag}}
                            </md-tooltip>
                        </span>
                    </div>
                    <div class="col-sm-2 text-center text-danger">  <!-- match -->
                        <span ng-repeat="word in limit (row.content[1], 1)" ng-click="getDefinition ($event, element.dif, element.lemma)">
                            {{word[layer.attr] + (word.space ?  ' ' : '')}}
                            <md-tooltip md-delay="440" md-direction="top">
                                {{word.lemma}} : {{word.tag}}
                            </md-tooltip>
                        </span>
                    </div>
                    <div class="col-sm-5 text-left">  <!-- right context -->
                        <span ng-repeat="word in limit (row.content[2], 2)" ng-click="getDefinition ($event, element.dif, element.lemma)">
                            {{word[layer.attr] + (word.space ?  ' ' : '')}}
                            <md-tooltip md-delay="440" md-direction="top">
                                {{word.lemma}} : {{word.tag}}
                            </md-tooltip>
                        </span>
                    </div>
                </div>
                <div class="row" ng-if="expanded[$index]">
                    <div class="col-12 text-left py-3 ml-3">
                        <span ng-repeat="part in showContext[$index] ? row.context : row.content" show="{{$index}}/{{showContext[$parent.$index]}}" class="text-center {{(!showContext[$parent.$index] && $index == 1) || (showContext[$parent.$index] && $index == row.contextMatch) ? 'text-danger' : ''}}">
                            <span ng-repeat="element in part">

                                <span ng-if="element.type == 'word'">
                                    {{element[layer.attr] + (element.space ?  ' ' : '')}}
                                    <md-tooltip md-delay="440" md-direction="top">
                                    {{element.lemma}} : {{element.tag}}
                                    </md-tooltip>
                                </span>
                                <span ng-if="element.type == 'break'">
                                    <br>
                                </span>
                                <span ng-if="element.type == 'speaker'">
                                    <i class="gray">{{element.spkr}}: </i>
                                </span>
                                <span ng-if="element.type == 'audio'">
                                    <i class="fa fa-play-circle fa-lg enlarge mx-1 gray" ng-click="play($event, element)" id="audio-context-{{$index}}-{{$parent.$index}}-{{$parent.$parent.$index}}"></i>
                                </span>
                            </span>
                        </span>
                    </div>
					<div class="col-md-12">
						<meta-show show="showMeta" content="row.meta"></meta-show>
					</div>
                </div>
            </td>
            <td>    <!-- selection checkbox -->
                <div class="row content-align-center px-3">
                    <input type="checkbox" ng-checked="selection[(pagination.currentPage - 1) * pagination.numPerPage + $index]" ng-click="toggleSelection($index / 2)">
                </div>
                <div class="row content-align-center p-3" ng-if="expanded[$index]">
                    <i class="fa fa-lg fa-chevron-{{showContext[$index] ? 'up' : 'down'}} gray clickable" ng-click="switchToContext ($event, $index)" style="margin-left: -3px;">
                        <md-tooltip md-delay="440" md-direction="top">
                            {{showContext[$index] ? 'Hide' : 'Show'}} Context
                        </md-tooltip>
                    </i>
                </div>
            </td>
        </tr>
    </table>
    <table class="table fade2 results" ng-if="mode === 'plain'">
        <tr class="text-center bg-light">
            <th class="indent hidden"></th>
            <th class="audio"><span translate>Recording</span></th>
            <th class="plain"><span translate>Transcription</span> (<span>{{'layer: ' + layer.name|translate}}</span>)</th>
            <th class="selection hidden"></th>
        </tr>
        <tr ng-repeat="row in currentSlice">
            <td class="indent"></td>
            <td class="audio">
                <audio controls>
                    <source ng-src="{{getAudioSrc (row.meta)}}">
                </audio>
            </td>
            <td class="plain align-middle">
                <span ng-repeat="part in showContext[$index] ? row.context : row.content" show="{{$index}}/{{showContext[$parent.$index]}}" class="{{(!showContext[$parent.$index] && $index == 1) || (showContext[$parent.$index] && $index == row.contextMatch) ? 'text-danger' : ''}}">
                    <span ng-repeat="element in part">
                        <!-- {{element.type}}
                        {{element}} -->
                        <!-- <div class="mwe" ng-if="element.mwe == 0"> -->
                        <span ng-if="element.type == 'word'" class="{{element.mwe == -1 ? '' : 'mwe'}} {{element.mwe == 0 ? 'mwe-begin' : ''}} {{element.mwe == 2 ? 'mwe-end' : ''}} {{element.dif == 0 ? '' : 'dif'}} {{element.space == false ? 'no-space' : ''}}" ng-click="getDefinition ($event, element, $index, $parent.$parent.$index, row)">
                            {{element[layer.attr]}}
                            <md-tooltip md-delay="440" md-direction="top">
                                {{element.lemma}} : {{element.tag}}
                            </md-tooltip>
                        </span>
                        <!-- </div ng-if="element.mwe == 2"> -->
                        <span ng-if="element.type == 'break'">
                            <br>
                        </span>
                        <span ng-if="element.type == 'speaker'">
                            <i class="gray">{{element.spkr}}: </i>
                        </span>
                        <span ng-if="element.type == 'audio'">
                            <i class="fa fa-play-circle fa-lg enlargee mx-1 gray" ng-click="play($event, element)" id="audio-context-{{$index}}-{{$parent.$index}}-{{$parent.$parent.$index}}"></i>
                        </span>
                    </span>
                </span>
                <meta-show show="showMeta" content="row.meta" fields-to-show="metaToShow"></meta-show>
            </td>
            <td class="align-middle">    <!-- selection checkbox -->
                <div class="row content-align-center px-2">
                    <div class="col-6">
                        <i class="fa fa-lg fa-chevron-{{showContext[$index] ? 'up' : 'down'}} gray clickable" ng-click="switchToContext ($event, $index)" style="margin-left: -3px;">
                            <md-tooltip md-delay="440" md-direction="top">
                                {{(showContext[$index] ? 'Hide' : 'Show')|translate}} <span translate>Context</span>
                            </md-tooltip>
                        </i>
                    </div>
                    <div class="col-6">
                        <input type="checkbox" ng-checked="selection[(pagination.currentPage - 1) * pagination.numPerPage + $index / 2]" ng-click="toggleSelection($index / 2)">
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div class="d-flex align-items-center my-2">
        <div ng-if="showPaginator()" style="margin-left: auto; margin-right: auto;" uib-pagination total-items="results.length" ng-model="pagination.currentPage" ng-change="pageChanged()" num-pages="np" max-size="pagination.maxSize" items-per-page="pagination.numPerPage" boundary-links="pagination.boundaries" class="paginator"></div>
    </div>
</div>
