<div class="container">
    <div class="row slide-up {{indexClass.outer}} mx-auto">
        <div class="{{indexClass.index}}">
            <span class="index {{letter == active_letter ? 'active' : ''}}" ng-repeat="letter in letters" ng-click="showQuery(letter | lowercase, 'r')">
                {{letter}}
            </span>
        </div>
        <div class="{{indexClass.search}}">
            <input type="text" class="{{indexClass.input}}" placeholder="{{'Search'|translate}}" ng-model="search" enter-submit="showQuery (search | lowercase, 'lr')"></input>
            <span class="clickable mx-1">
                <i class="{{indexClass.icon}}" ng-click="showQuery(search | lowercase, 'lr')"></i>
            </span>
        </div>
    </div>
    <div class="row">
        <div ng-show="noResults" class="col-sm-8 offset-sm-4">
            <h5>{{'No results'|translate}}</h5>
        </div>
        <div ng-show="showList" class="col-sm-6">
            <ul>
                <li ng-repeat="entry in paged_entries track by $index">
                    <span ng-click="getEntry(entry, $index)" style="cursor: pointer" class="$index == active ? 'active' : ''">{{entry|uppercase}}</span>
                </li>
            </ul>
        </div>
        <div ng-show="showEntry" class="col-sm-6 definition-card">
            <div class="card">
                <div class="card-body scroll-box">
                    <div ng-repeat="definition in definitions">
                        <div>
                            <span class="headword definition-d">{{definition.entry|uppercase}} {{definition.reflexiveness|uppercase}}</span>
                            <span class="pronunciation definition-d">[{{definition.pronunciation}}{{definition.reflexiveness_dial}}]</span>
                        </div>
                        <div class="definition-d pos">{{definition.pos}} {{definition.characteristic}}</div>
                        <div class="definition-d">
                            <span ng-repeat="content in definition.content">
                                <span compile="content|addRefs"></span>
                                <br>
                            </span>
                        </div>
                        <div class="definition-d etymology" ng-if="definition.etymology != ''">
                            <b translate>Etymology:</b> <span compile="definition.etymology|addRefs"></span>
                        </div>
                        <hr class="definition-d divider" ng-if="!$last">
                    </div>
                    <div ng-if="showInResults(definitions)" class="my-4">
                        <button ng-click="goToResults()" class="btn btn-info btn-sm" translate>
                            See in results
                        </button>
                    </div>
                    <div ng-if="definitions.length == 0" class="text-center">
                        <h3>{{showEntry}}</h3>
                        <h4 class="mt-5 mb-3">:(</h4>
                        <h5 translate>no definition</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center my-2">
        <div ng-if="showPaginator()" style="margin-left: auto; margin-right: auto;" uib-pagination total-items="entries.length" ng-model="pagination.currentPage" ng-change="pageChanged()" num-pages="np" max-size="pagination.maxSize" items-per-page="pagination.numPerPage" boundary-links="pagination.boundaries" class="paginator"></div>
    </div>
</div>
